/* Navigation Bar */
.navbar {
  background-color: rgb(43,56,88);
  padding: 1rem;
}

.navbar-brand{
  margin-left: 3rem;
}

.nav-link {
  color: #fff !important;
}

/* Home Section */
#home {
  
  height: 100vh;
}

.display-4 {
  margin-top: 20%;
  font-size: 3rem;
}

.lead {
  font-size: 1.5rem;
 
  
}

.btn-primary {
  background-color:#a6a1d6;
  border-color: #a6a1d6;
  
}

.btn-primary:hover {
  background-color:#a6a1d6;
  border-color: #a6a1d6;
}

#aboutcontent{
  margin-top: 5%;
  
}
/* about */

.meter-pro {
  display: flex;
  flex-direction: row;
}

.meter-pro > div {
  margin-right: 1rem;
}
.js {
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(darkorange 75%, rgb(248, 194, 95) 0);    
  }

  .js::before {
    content: "JS";
  }
  .ui {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(59, 162, 202) 75%, rgb(165, 220, 241) 0);    
  }
  
  .ui::before {
    content:"UI";
  }

  .cs {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(red 50%, rgb(240, 135, 135) );
  }
  
  .cs::before {
    content:"CSS";
  }
  .ht {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(darkorange 75%, rgb(248, 194, 95) 0);    
  }
  .ht::before {
    content:"HTML";
  }
  .sql {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(red 50%, rgb(240, 135, 135) );
  }
  
  .sql::before {
    content:"SQL";
  }
  
  .c {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(59, 162, 202) 75%, rgb(165, 220, 241) 0);    
  }
  
  .c::before {
    content:"C#";
  }


/*  Portfolio Section */
 
 #portfolio{
  background-color: #a6a1d6;
 }

 /* contact */
#contact{
  margin-top: 3%;
}

 .list-unstyled{
  color: #a6a1d6;
 }
 #contact_mail{
  color: #a6a1d6; 
 }
 #contact_phone{
  color: #a6a1d6;
 }

 /* footer */

 #footer{
  background-color: rgb(42,55,87);
  color: #a6a1d6;
  margin-top: 1%;
 }  
